{
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ],
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}